<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name ="CalenderConnection" connectionString="Data Source=APS000016\SQL2012;Database=MasterCalender;User ID=admin;"/>
    <!--Integrated Security=true;"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>